<h1>Adding products to cart</h1>

<ul>
<% @productIds.each do |productId| %>
	<li>
		<span style="padding-right: 20px"><%= productId%></span>
		<span><%= link_to "Buy it", "/orders/add?id=#{productId}"%></span>
	</li>	
<% end %> 
</ul>