<h1>Welcome to KuangKuang</h1>

<h1>Hello, user <%= session[:user_id]%></h1>
<%= link_to "View Products", controller: "products" %>
<%= link_to "View Cart", carts_path %>
<%= link_to "View All Orders", orders_path %>
